<!doctype html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {{ content }}
    {%- include footer.html -%}
    <div style="display: none;" id="ck-test-form"></div>
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "392937",
        formId: "0fd312e7-3ab6-4a25-b9f9-2325e0efe90c",
        sfdcCampaignId: "7011M000001BdECQA0",
        target: "#ck-test-form"
      });
    </script>
  </body>
</html>
