---
layout: default
---
<article>
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p>last modified: {{ page.last_modified_at | date: '%B %d %Y' }}</p>
    {% for author in page.authors %}
      <p>{{ author.person.title }}</p>
    {% endfor %}
  </header>
  {{ content }}
  {% if next_chapter %}
    <a href="{{ next_chapter.url }}">Next: {{ next_chapter.title }}</a>
  {% endif %}
</article>
<p>
  <b>authors:</b>
  {% for author_path in page.authors %}
    {% assign a = site.people | where: 'path', author_path.author %}
    {% assign author = a[0] %}
    <a href="{{ author.url }}">{{ author.title }}</a>{% if forloop.last != true %},{% endif %}
  {% endfor %}
</p>
<p>
  <b>reviewers:</b>
  {% for reviewer_path in page.reviewers %}
    {% assign a = site.people | where: 'path', reviewer_path.reviewer %}
    {% assign reviewer = a[0] %}
    <a href="{{ reviewer.url }}">{{ reviewer.title }}</a>{% if forloop.last != true %},{% endif %}
  {% endfor %}
</p>
