---
layout: default-breakout
---
<div class="container">
  <section class="page">
    {{ content }}
  </section>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col centered">
        <div class="footer-links">
          <h4>Created by</h4>
          <img src="/assets/images/chartio-logo-black-tbg.svg" alt="Chartio logo" class="height-3">
          <p class="small-font">©2019 All Rights Reserved • <a href="https://chartio.com/about/legal/">Terms</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
