---
layout: default
---
{% assign person = page %}
<p><a href="/people/">Contributors</a></p>
<div class="max-width-content contributor-info">
  <div>
    <h1 class="title">{{ person.title }}</h1>
    <p>
      {% if person.job_title and person.company %}<em>{{ person.job_title }} at {{ person.company }},<br>{% endif %}
      {% if person.is_contributor %}Contributor{% else %}Reviewer{% endif %} at Data School</em>
    </p>
    {{ content }}
  </div>
  <img class="contributor-headshot" src="{{ person.image }}">
</div>

{% if person.twitter or person.linkedin or person.website %}
  <h2>Social</h2>
  <ul class="light-pad-list">
    {% if person.website %}<li><em>Website:</em> <a href="{{ person.website }}">{{ person.website }}</a></li>{% endif %}
    {% if person.linkedin %}<li><em>LinkedIn:</em> <a href="{{ person.linkedin }}">{{person.title}}</a></li>{% endif %}
    {% if person.twitter %}<li><em>Twitter:</em> <a href="{{ person.twitter }}">{{ person.twitter }}</a></li>{% endif %}
  </ul>
{% endif %}

{% assign authored_chapters = site.chapters | where_exp:'item', "item.authors contains person.path" | sort: 'last_modified' %}
{% assign reviewed_chapters = site.chapters | where_exp:'item', "item.reviewers contains person.path" | sort: 'last_modified' %}

{% if authored_chapters %} <!-- #TODO fix this if statement, doesnt seem to work -->
  <h2 class="mt-5">Author of {{ authored_chapters | size }} chapters</h2>
  {% for chapter in authored_chapters %}
    <div class="row mb-3">
      <div class="col chapter-info">
        <a href="{{ chapter.url }}"><h3>{{ chapter.title }} <i class="fas fa-arrow-right"></i></h3></a>
        {% assign book = site.books | where:'slug', chapter.book_slug %}
        {% assign book = book[0] %}
        <em>From <a href="{{ book.url }}">{{ book.title }}</a></em>
        <p>{{ chapter.description }}</p>
      </div>
    </div>
  {% endfor %}
{% endif %}

 {% if reviewed_chapters %} <!-- #TODO fix this if statement, doesnt seem to work -->
  <h2 class="mt-5">Reviewer of {{ reviewed_chapters | size }} chapters</h2>
  {% for chapter in reviewed_chapters %}
    <div class="row mb-3">
      <div class="col chapter-info">
        <a href="{{ chapter.url }}"><h3>{{ chapter.title }} <i class="fas fa-arrow-right"></i></h3></a>
        {% assign book = site.books | where:'slug', chapter.book_slug %}
        {% assign book = book[0] %}
        <em>From <a href="{{ book.url }}">{{ book.title }}</a></em>
        <p>{{ chapter.description }}</p>
      </div>
    </div>
  {% endfor %}
{% endif %}
