<div class="chapter-story-intro-blurb">
  <h2>Community Story</h2>
  <div class="story-author-blurb">
    {% for author_path in page.authors %}
      {% assign a = site.people | where: 'path', author_path %}
      {% assign author = a[0] %}
      <img class="contributor-headshot" src="{{ author.image }}" alt="{{author.title}}'s Picture">
      <div>
        <a href="{{ author.url }}">{{ author.title }}</a>{% if forloop.last != true %},{% endif %}
        <p>
          {% if author.job_title %}<em>{{ author.job_title }}{% if author.company %} at {{ author.company }}{% endif %}</em>{% endif %}
        </p>
        <p>{{page.story_intro_blurb}}</p>
        <p>Please reach out to me, <em>{{ author.data_school_slack_handle }}</em>, on <a href="https://join.slack.com/t/thedataschool/shared_invite/enQtNjAyMTM1MTk1MzQ4LWY4YWI1YzBkOTAwZmQ4Y2Q4N2U4MWE1Njg3OWJhNmU2NGRiYTI0MDEzMmQ1MzllMTczMGFhMTEwZTBlYmQxYjY">our slack</a> to discuss the article.</p>
      </div>

    {% endfor %}
  </div>
</div>
