<!-- Optional JavaScript for Bootstrap TODO: Remove some of this later -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

<!-- sidebar behavior -->
<script type="text/javascript">
  // Code for toggling the side menu
  $(document).ready(function () {
    $('#sidebar-collapse').on('click', function () {
      $('.wrapper').toggleClass('with-sidebar without-sidebar');
    });
  });
</script>
{% if page.url != '/' %}
  <script type="text/javascript">
    if($(window).width() > 768){
      $('.wrapper').addClass('with-sidebar');
    } else {
      $('.wrapper').addClass('without-sidebar');
    }
  </script>
{% endif %}

{% if page.needs_sqlbox %}
  <!-- Needed for SQLBox - Man, there's just a lot needed here. -->
  <link rel="stylesheet" href="/assets/sqlbox/codemirror/codemirror.css">
  <link rel="stylesheet" href="/assets/sqlbox/codemirror/midnight.css">

  <script src="/assets/sqlbox/codemirror/codemirror.js"></script>
  <script src="/assets/sqlbox/codemirror/codemirror-mode-sql.js"></script>
  <script src="/assets/sqlbox/jquery.form.min.js"></script>

  <script type="text/javascript">
    // Data needed for sqlbox.js to work
    $.sqlboxSettings = {
      dbType: '{{ page.database }}',
      dbName: '{{ page.dbname }}',
      action: '{{ site.sqlboxurl }}'
    };
  </script>
  <script type="text/javascript" src="/assets/sqlbox/sqlbox.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
  <!-- End for SQLBox -->
{% endif %}
