<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- make it responsive-able -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- title, description -->
  <title>{{ page.meta_title }}</title>
  <meta name="description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}">
  <!-- favicon -->
  <!-- <link rel="icon" href="/favicon.ico" /> -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
