<nav class="sidebar">
  <!-- Main nav elements, always include in sidebar -->
  <a class="sidebar-logo" href="/">
    <img src="/assets/images/chartio-data-school-logo.svg" alt="Data School's Logo"/>
  </a>
  <ul class="list-unstyled main-nav components">
    <li {% if page.url == '/books/' or page.layout == "book" %}class="active"{% endif %}><a href="/books/">Web Books</a></li>
    <li {% if page.url == '/contribute/' %}class="active"{% endif %}><a href="/contribute/">Contribute</a></li>
    <li {% if page.url == '/people/' %}class="active"{% endif %}><a href="/people/">Contributors</a></li>
    <li><a href="{{ site.slack_url }}" target="_blank">Slack Community</a></li>
  </ul>
  <!-- showing current book -->
  {% if page.layout == "chapter" or page.layout == "book" %}
    {% assign book = site.books | where:'slug', page.book_slug %}
    {% assign book = book[0] %}
    <div class="book-title-links">
      <a href="{{ book.url }}" class="smallbook-link hover-link">
        <img src="{{ book.thumbnail_cover_image }}" alt="Cover of {{book.title}}" class="smallbook hover-img">
      </a>
      <div>
        <a href="{{ book.url }}" class="book-title">{{ book.title }}</a>
        {% if book.downloadable %}
          <a href="{{ book.url }}" class="book-download">Download book</a>
        {% endif %}
      </div>
    </div>




  {% endif %}
  <!-- building the chapter list -->
  {% if page.layout == "chapter" or page.layout == "book" %}
    {% assign bookchapters = site.chapters  | where:'book_slug', page.book_slug | where:'is_hidden', false | sort: 'number' %}
    <ul class="list-unstyled components">
      <li class="d-none">
        <ul>
          {% for chapter in bookchapters %}
            {% if currentsection != chapter.section %}
              {% assign currentsection = chapter.section %}
                </ul>
                </li>
                <li class="book-section ">
                  <a href="#{{currentsection | remove:' '}}" aria-expanded="true" {% if currentsection == 'book' %}class="d-none"{% else %}data-target="#{{currentsection | remove:' '}}"  class="dropdown-toggle"  data-toggle="collapse" {% endif %}>{{ currentsection | capitalize }}</a>
                  <ul class="list-unstyled {% if currentsection == 'book' %}{% else %}collapse {% if currentsection == page.section %}show{% endif %}{% endif %}" id="{{currentsection | remove:' '}}">
            {% endif %}
            <li {% if page.url == chapter.url %}class="active"{% endif %}>
              <a href="{{ chapter.url }}">
                {% if chapter.short %}{{ chapter.short }}{% else %}{{ chapter.title }}{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endif %}
</nav>
