<nav class="sidebar">
  <!-- Main nav elements, always include in sidebar -->
  <a class="sidebar-logo" href="/">
    <img src="/uploads/data-school-logo.png"/>
  </a>
  <ul class="list-unstyled main-nav components">
    <li><a href="/books/">Web Books</a></li>
    <li><a href="/people/">Contributors</a></li>
    <li><a href="/mission/">Mission</a></li>
    <li><a href="#">Contribute</a></li>
    <li><a href="#">Slack Community</a></li>
  </ul>
  {% if page.layout == "chapter" or page.layout == "book" %}
    {% assign book = site.books | where:'slug', page.book_slug %}
    {% assign book = book[0] %}
    {% assign bookchapters = site.chapters  | where:'book_slug', page.book_slug | sort: 'number' %}
    <!-- showing current book -->
    {% include smallbook.html %}
    <!-- building the chapter list -->
    <ul class="list-unstyled components">
      <li class="d-none">
        <ul>
          {% for chapter in bookchapters %}
            {% if currentsection != chapter.section %}
              {% assign currentsection = chapter.section %}
                </ul>
                </li>
                <li class="book-section ">
                  <a href="#{{currentsection}}" data-target="#{{currentsection}}" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle {% if currentsection == 'book' %}d-none{% endif %}">{{ currentsection }}</a>
                  <ul class="collapse list-unstyled {% if currentsection == page.section %}show{% endif %}" id="{{currentsection}}">
            {% endif %}
            <li {% if page.url == chapter.url %}class="active"{% endif %}>
              <a href="{{ chapter.url }}">
                {{ chapter.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endif %}
</nav>
