<nav class="sidebar">
  <!-- Main nav elements, always include in sidebar -->
  <a class="sidebar-logo" href="/">
    <img src="/uploads/data-school-logo.png"/>
  </a>
  <ul class="list-unstyled components">
    <li><a href="/books/">Books</a></li>
    <li><a href="/mission/">Mission</a></li>
    <li><a href="/people/">Contributors</a></li>
    <li><a href="/books/">Slack Community</a></li>
  </ul>
  {% if page.layout == "chapter" or page.layout == "book" %}
    {% assign book = site.books | where:'slug', page.book_slug %}
    {% assign book = book[0] %}
    {% assign bookchapters = site.chapters  | where:'book_slug', page.book_slug | sort: 'number' %}
    <!-- showing current book -->
    {% include smallbook.html %}
    <!-- building the chapter list -->
    <!-- collapsing sections -->
    <ul class="list-unstyled components">
      <li class="d-none">
        <ul>
          {% for chapter in bookchapters %}
            {% if currentsection != chapter.section %}
              {% assign currentsection = chapter.section %}
                </ul>
                </li>
                <li class="book-section ">
                  <a href="#{{currentsection}}" data-target="#{{currentsection}}" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">{{ currentsection }}</a>
                  <ul class="collapse list-unstyled {% if currentsection == page.section %}show{% endif %}" id="{{currentsection}}">
            {% endif %}
            <li {% if page.url == chapter.url %}class="active"{% endif %}>
              <a href="{{ chapter.url }}">
                {{ chapter.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <!-- non-collapsing sections -->
    <!-- <ul class="list-unstyled components">
      {% for chapter in bookchapters %}
        {% if last_chapter_url == chapter.url %}{% assign next_chapter = chapter %}{% endif %}
        {% if currentsection != chapter.section %}
          {% assign currentsection = chapter.section %}
          <li class="book-section">{{ currentsection }}</li>
        {% endif %}
        <li {% if page.url == chapter.url %}class="active"{% endif %}>
          <a href="{{ chapter.url }}">
            {{ chapter.title }}
          </a>
        </li>
      {% assign last_chapter_url = chapter.url %}
      {% endfor %}
    </ul> -->
  {% endif %}
</nav>
