<div class="quizbox">
    <h3 class="question">
        <span class="q">Q.</span> {{ include.question | markdownify | remove: '<p>' | remove: '</p>' }}
        <br>
        <p class="references">references:
          {% for ref in include.references %}
            <a href="../{{ ref }}/">{{ ref }}</a>
          {% endfor %}
        </p>
    </h3>
    <sqlbox
      answer="{{ include.answer }}"
      hint="{{ include.hint }}"
      correct_message="{{ include.correct_message }}"
      {% if include.initial %}{{ include.initial }}{% endif %}
      {% if include.show_incorrect %}show_incorrect="true"{% endif %}
      {% if include.incorrect_message %}incorrect_message="{{ include.incorrect_message }}"{% endif %}
      {% if include.autorun %}autorun="true"{% endif %}
    ></sqlbox>
  </div>
  