// UTILITY CLASSES
.centered {
  text-align: center;
}

.height-3 {
  height: 3rem;
}

article, .home-hero {
  font-size: 1.25em;
}

article {
  h1, h2, h3, h4, h5, h6, p, ul, ol, code, pre {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }
}
