// the page wrapper, containers and sidebar
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .sidebar {
      min-width: 300px;
      max-width: 300px;
      border-right: 1px solid $gray-400;
      .sidebar-logo {
        padding: 0.5rem;
        display: block;
        text-align: center;
      }
      ul.components {
        padding: 20px 0;
        border-bottom: 1px solid $gray-400;
      }
      ul {
        p {
          padding: 10px;
        }
        li a {
          padding: 10px;
          display: block;
        }
        li.active > a, a[aria-expanded="true"] {
            // color: #fff;
            // background: #6d7fcc;
        }
        ul a {
            padding-left: 30px;
        }
      }
      a[data-toggle="collapse"] {
          position: relative;
      }
      .dropdown-toggle::after {
          display: block;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
      }
    }
    // .content {
    // }
    .sidebar, .content {
      position: absolute;
      top: 0;
      bottom: 0;
      transition: left 0.3s;
      overflow-y: auto;
    }
}
.sidebar {
  left: -300px;
}
.content {
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }
  .content {
    left: 300px;
  }
}
.wrapper.without-sidebar {
  .sidebar {
    left: -300px;
  }
  .content {
    left: 0;
  }
}
.wrapper.with-sidebar {
  .sidebar {
    left: 0;
  }
  .content {
    left: 300px;
  }
}

// sidebar collapse button
#sidebar-collapse {
  position: absolute;
  top: 0;
  left: 0;
}

// general content layout
article {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero {
  background: $gray-200;
  min-height: 8rem;
  padding: 4rem 0;
  width: 100%;
}
