// the page wrapper, containers and sidebar
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    nav.sidebar {
      min-width: 250px;
      max-width: 250px;
      border-right: 1px solid $gray-400;
      background: $background-color;
      padding: 0;
      .sidebar-logo, .smallbook {
        margin: 0.75rem;
      }
      .sidebar-logo {
        padding: 0 0.5rem;
        display: block;
        text-align: center;
        opacity: 0.85;
        &:hover {
          opacity: 1;
        }
      }
      ul.components.main-nav > li, ul.components li.book-section > ul > li {
        padding: 0.25rem 0.75rem 0.25rem 0.625rem;
        border-left: 0.125rem solid $background-color;
        background: $background-color;
        // &:first-child {
        //   padding-top: 0.5rem;
        // }
        // &:last-child {
        //   padding-bottom: 0.5rem;
        // }
        &.active {
          border-color: $secondary;
          > a, a[aria-expanded="true"] {
          }
        }
      }
      ul.components {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $gray-400;

        li {
          padding: 0;

          a {
            color: $text-color;
          }
          &.book-section {
            a.dropdown-toggle {
              padding: 0.5rem 0.75rem;
              background: $gray-200;
              display: block;
              position: relative;
              &::after {
                float: right;
                margin-top: 0.6em;
                // transform: rotate(0deg);
                transition: transform 0.25s;
              }
              &.collapsed::after {
                transform: rotate(180deg);
                transition: transform 0.25s;
              }
            }
            ul {
              padding-left: 0;
              ul {
                list-style: none;
                li {
                  padding: 0.25rem 0.75rem;
                  font-size: 0.833em;
                  &:first-child {
                    padding-top: 0.5rem;
                  }
                  &:last-child {
                    padding-bottom: 0.5rem;
                  }
                }
              }
            }
            // > ul > li {
            //   padding: 0.25rem 0.75rem;
            //   border-left: 0.125rem solid $background-color;
            //   background: $background-color;
            //   &:first-child {
            //     padding-top: 0.5rem;
            //   }
            //   &:last-child {
            //     padding-bottom: 0.5rem;
            //   }
            //   &.active {
            //     border-color: $secondary;
            //     > a, a[aria-expanded="true"] {
            //     }
            //   }
            // }
          }
        }
      }
      // ul.main-nav {
      //   padding-bottom: 0.5rem;
      //   li {
      //     padding: 0.25rem 0;
      //   }
      // }
    }
    .sidebar, .content {
      position: absolute;
      top: 0;
      bottom: 0;
      transition: left 0.3s;
      overflow-y: auto;
    }
}
.sidebar {
  left: -250px;
}
.content {
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }
  .content {
    left: 250px;
  }
}
.wrapper.without-sidebar {
  .sidebar {
    left: -250px;
  }
  .content {
    left: 0;
  }
}
.wrapper.with-sidebar {
  .sidebar {
    left: 0;
  }
  .content {
    left: 250px;
  }
}

// sidebar collapse button
#sidebar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
